<!DOCTYPE html>
<html>
  <head>
    <title>Funcionarios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Funcionarios</h1>
    <p>Welcome to Funcionarios</p>




    <form method="POST" action="/funcionarios" role="form">
         
        <input type="text" name="nome"  placeholder="Nome" class="form-control"/>
           
        <input type="text" name="cpf" placeholder="CPF" class="form-control"/>
           
        <input type="text" name="telefone"  placeholder="Telefone" class="form-control"/>
           
        <input type="text" name="email" placeholder="EMAIL" class="form-control"/>

        <input type="text" name="funcao"  placeholder="Função" class="form-control"/>
           
        <input type="text" name="cep" placeholder="CEP" class="form-control"/>

        <button type="submit" class="btn btn-default">Incluir</button>
       
      
    </form>



    <table class="table table-bordered table-striped">
      <thead><tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>CEP</th>
          <th>EMAIL</th>
          <th>FONE</th>
          <th>FUNCAO</th>
          <th>APAGAR</th>
      </tr>
      </thead>
      
      <tbody>
          <% funcionarios.forEach(function(funcionario, index) { %>
            <tr>
              <td><%- funcionario.cpf %></td>
              <td><%- funcionario.nome %></td>
              <td><%- funcionario.cep %></td>
              <td><%- funcionario.email %></td>
              <td><%- funcionario.telefone %></td>
              <td><%- funcionario.funcao %></td>
              <td><a href="/funcionario/apagar/<%- funcionario._id %>" onclick="return confirm('Deseja deletar?')">X</a></td>               
            </tr>
          <% }) %>
      </tbody>
      
      
  </table>

  </body>
</html>
